@font-face {
  font-family:ZAN ; 
  src: url(https://sodsalehi.github.io/ZANGX.ttf);
  
}

@keyframes pjanim {
  0% {
    color: black;
    font-size: 200px;
    font-variation-settings: 'wght' 0;
  }
  70% {
    font-variation-settings: 'wght' 200;
  }
 
  100% {
    color: red;
    font-size: 800px;
    font-variation-settings: 'wght' 200;
  }
  
}

@keyframes pjmove {
  0%{
    left: 0px;
    }
  100% {
   left: 400px;
}
  
}


body {
  background-color:yellow;
  
}
h1 {
  animation: 8s infinite  alternate linear pjanim;
  color:red;
  font-size:100px;
  font-family:ZAN ;
  text-align: center;

}
h2 {
  font-size: 100px;
    background-color: #ff0000;
  apacity: 0.5;
  position: relative;
  animation: pjmove 1s infinite alternate ease-in;
}

.theface {
  color: black;
}

